body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    font-family: 'Allerta Stencil', sans-serif;
}

a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 48px;
    }
}
