body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    font-family: 'Allerta Stencil', sans-serif;
}

a, a:visited, a:active {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 48px;
    }

    /* Style and animation the modal fading in */
    .ReactModal__Body--open {
        overflow-y: hidden;
    }
    
    .ReactModal__Overlay {
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.75) !important;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    .ReactModal__Overlay--after-open{
        opacity: 1;
    }

    .ReactModal__Overlay--before-close{
        opacity: 0;
    }
}
