.desktop-album-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__action {
        display: flex;
        align-items: center;
        font-size: 20px;
        width: 280px;
        padding: 10px 0 10px 20px;
        border: 1px solid transparent;

        &:hover {
            background-color: white;
        }

        img {
            height: 40px;
            padding-right: 15px;
        }
    }

    &__button {
        //Something is reducing 20px from my button element (and not the link elements that look the same) so to get it to 300px
        //I have to create a scenario here of 320px to counter the mystery 20px disappearing
        width: 300px;
    }
}
