/* This is the CSS for the entire page if you are not logged in */
/* There is no JavaScript for the login page */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Allerta Stencil', sans-serif;
}

a {
    text-decoration: none;
}

.login-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 90px;
    color: black;
}

.login-link-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
