.album {
    display: inline-block;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.album-cover-art {
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 500px) {
    .album {
        width: 150px;
    }

    .album-cover-art {
        width: 150px;
        height: 150px;
    }
}
