@import (reference) '../../styles/variables';

.album {
    display: inline-block;
    margin: 20px;
    width: 300px;
    text-align: center;
}

@media @mobile {
    .album {
        width: 150px;
    }
}
