.album {
    position: relative; /* this is so the overlay positions correctly over the album art */
    display: inline-block;
    margin: 20px;
    width: 300px;
    text-align: center;
    opacity: 1;
    transition: opacity .15s ease-out;
}

.album--selected {
    opacity: .25;
    transition: opacity .15s ease-out;
}

.album-cover-art {
    width: 300px;
    height: 300px;
}

.album-name {
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 500px) {
    .album {
        width: 150px;
    }

    .album-cover-art {
        width: 150px;
        height: 150px;
    }
}
