<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link id=favicon rel="shortcut icon" type=image/png href="/fav-icon.png"/>
</head>
<body>

<h2><%= loggedInMessage %></h2>

<% if (!loggedIn) { %>
    <a href="/auth/login">Log in</a>
<% } %>

<ul>
    <li>
        <a href="/api/get-following">get all artist that I am following</a>
        <ul>
            <li><a href="/api/mock/get-following">mock</a></li>
        </ul>
    </li>
    <li>
        <a href="/api/get-artist-albums?artistId=03SZv6slUnLnHI3IfwG0gl">get all albums for an artist</a>
        <ul>
            <li><a href="/api/mock/get-artist-albums">mock</a></li>
        </ul>
    </li>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
        const blah = await window.fetch('/api/get-new-albums')
        console.log(await blah.json());
    })
</script>

</body>
</html>
