<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link id=favicon rel="shortcut icon" type=image/png href="/fav-icon.png"/>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>

<% if (!loggedIn) { %>
    <div class="login-container">
        <a class="login-link" href="/auth/login">log in</a>
    </div>
<% } %>

</body>
</html>
