<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link id=favicon rel="shortcut icon" type=image/png href="/fav-icon.png"/>
    <% if (!loggedIn) { %>
        <link rel="stylesheet" href="not-logged-in.css"/>
    <% } %>
</head>
<body>

<div id="root"></div>

<% if (!loggedIn) { %>
    <a class="login-link" href="/auth/login">
        <div class="login-link-text">log in</div>
    </a>
<% } else { %>
    <script src="bundle.js"></script>
<% } %>

</body>
</html>
