<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link id=favicon rel="shortcut icon" type=image/png href="/fav-icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <% if (!loggedIn) { %>
        <link rel="stylesheet" href="not-logged-in.css"/>
    <% } %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36320417-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-36320417-3');
    </script>
</head>
<body>

<div id="root"></div>

<% if (!loggedIn) { %>
    <a class="login-link" href="/auth/login">
        <div class="login-link-text">log in</div>
    </a>
<% } else { %>
    <script src="bundle.js"></script>
<% } %>

</body>
</html>
