html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-link {
    font-size: 72px;
    color: #2196f3;
}
