.action-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.action-button {
    border: 1px dashed black;
    height: 30px;
    padding: 5px;
}

.action-button:hover {
    border: 2px dashed black;
    padding: 4px;
}

.refresh-button {
    display: flex;
    width: 30px;
}

.mark-as-seen-button {
    margin-left: 20px;
}

.disabled {
    background-color: darkgray;
}

.disabled:hover {
    border: 1px dashed black;
    padding: 5px;
}

.action-icon {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
