.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 0 10px;
}

.action-button {
    background-color: white;
    height: 30px;
    padding: 5px;
}

.action-button:hover {
    border: 1px solid black;
    padding: 4px;
}

.refresh-button {
    display: flex;
    width: 30px;
}

.mark-as-seen-button {
    width: 50px;
    text-align: right;
}

.disabled {
    background-color: darkgray;
}

.action-icon {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    padding-right: 3px;
}

@media only screen and (max-width: 500px) {
    .username {
        display: none;
    }

    .mark-as-seen-button {
        width: auto;
    }
}
