@import (reference) '../../styles/variables';

.meta-menu {
    &__username {
        cursor: pointer;
    }

    &__menu {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: white;
        padding-bottom: 10px;
        text-align: center;
        box-shadow: 0 8px 10px -6px black;
    }
}
