@import (reference) '../../styles/variables';

.artist {
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;

    &:last-child {
        border: none;
    }

    &__name {
        padding: 10px;
        font-size: 72px;
        cursor: pointer;
        color: white;
        background-color: black;
        overflow-wrap: break-word;
    }

    &__album-group {
        font-size: 35px;
        padding-top: 20px;
    }

    &__select-all {
        position: absolute;
        top: 23px;
        right: 15px;
        width: 70px;
    }
}

@media @mobile {
    .artist {
        &__name {
            font-size: 48px;
        }

        &__select-all {
            top: 16px;
            right: 15px;
            width: 50px;
        }
    }
}
