@import (reference) '../../styles/variables';

.artist {
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;

    &:last-child {
        border: none;
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 10px;
        font-size: 72px;
        cursor: pointer;
        color: white;
        background-color: black;
        overflow-wrap: break-word;
    }

    &__album-group {
        font-size: 35px;
        padding-top: 20px;
    }

    &__hammer {
        width: 70px;
    }
}

@media @mobile {
    .artist {
        &__name {
            font-size: 48px;
        }
    }
}
