.artist-group {
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.artist-group:last-child {
    border: none;
}

.artist-name {
    font-size: 72px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.artist-name:hover {
    background-color: #333;
}

.album-group-title {
    font-size: 35px;
    padding-top: 20px;
}
