.album-actions-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.album-actions-mobile-album-art {
    width: 300px;
    height: 300px;
}

.album-info-mobile {
    padding: 20px 0;
    text-align: center;
}

.album-info-name-mobile {
    font-size: 28px;
    padding-bottom: 5px;
    font-style: italic;
}

.album-info-artist-name-mobile {
    font-size: 24px;
    padding-bottom: 5px;
}

.album-info-artist-release-date {
    font-size: 18px;
}

.album-action-spotify-mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.album-action-spotify-mobile img {
    height: 40px;
    padding-right: 15px;
}

.album-action-mark-as-seen-mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.album-action-mark-as-seen-mobile img {
    height: 40px;
    padding-right: 15px;
}

.album-action-button {
    padding: 10px 0;
}
