.mobile-album-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &__close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 35px;
    }

    &__cover-art {
        width: 300px;
        height: 300px;
    }

    &__details {
        padding: 20px 0;
        text-align: center;
    }

    &__album-name {
        font-size: 28px;
        padding-bottom: 5px;
        font-style: italic;
    }

    &__artist-name {
        font-size: 24px;
        padding-bottom: 5px;
    }

    &__release-date {
        font-size: 18px;
    }
}

.album-action-spotify-mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.album-action-spotify-mobile img {
    height: 40px;
    padding-right: 15px;
}

.album-action-mark-as-seen-mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.album-action-mark-as-seen-mobile img {
    height: 40px;
    padding-right: 15px;
}

.album-action-button {
    padding: 10px 0;
}
